/* fonst */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* css */

* {
  margin: 0;
  padding: 0;
  background: #0d1117;
  font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}


/* ==============================================================
                      HEADER
============================================================== */


/* general  */

.header {
  margin-top: 20px;
  text-align: center;
  color: #c9d1d9;
  height: 8%;
}

.header > a, nav {
  display: inline-block;
}

/* headline and navigation  */

.headline {
  text-align: center;
  color: inherit;
  font-size: 40px;
  text-decoration: none;
}

.nav {
  text-align: left;
  margin-left: 30px;
}

.nav > a {
  margin: 5px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

nav > a:hover {
  border-bottom: 3px solid #238636;
}

/* search  */

.search {
  color: #c9d1d9;
  display: inline-block;
}

.search > * {
  color: inherit;
  font-size: 16px;
}

.search-input {
  padding: 5px;
  border-radius: 16px;
  border: 2px solid white;
  outline: none;
}

.search-input:focus {
  background: white;
  color: black;
}

.search-button {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  border: 1px solid white;
  opacity: 0.7;
  cursor: pointer;
}

.search-button:hover {
  opacity: 1;
}
/* seperator  */

.seperator-top {
  color: white;
}


/* ==============================================================
                      CONTENT STYLE
============================================================== */


.content {
  color: #c9d1d9;
}

.content > a {
  text-decoration: none;
}

/* ==============================================================
                      MAIN
============================================================== */


/* general  */

.main {
  width: 100%;
}

#main-content {
  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  color: #c9d1d9;
}

#main-content > h1 {
  text-align: center;
}

.seperator-bottom {
  color: white;
}


/* ==============================================================
                      FOOTER
============================================================== */


/* general  */

.footer {
  width: 100%;
  height: 30%;
}

#footer-content {
  width: 100%;
  height: 100%;
  text-align: center;
}

#footer-content > a {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 10px;
  color: #c9d1d9;
}
